/* #topnews_main_stream_408239535924329,
#pagelet_ego_pane,
#m_newsfeed_stream,
.pedkr2u6.tn0ko95a.pnx7fd3z {
  height: 0;
  width: 0;
  overflow: hidden;
} */

.ejjq64ki{
  display: none;
}